.header__root{
    height:4rem;
    background-color: rgba(36, 37, 38, 1);
    color:White;
}

.logo>p{
    font-size:1.6rem;
    font-family: "Press Start 2P", cursive;
    color: rgb(255, 255, 255);
    overflow: hidden;
    border-right: 0.15em solid white;
    white-space: nowrap;
    margin: 0;
    padding:0;
    /* letter-spacing: .15sem; */
    animation: typing 3.5s steps(14, end), blink-caret 0.7s step-end infinite;
}

@keyframes typing {
    from {
      width: 0;
    }
  
    to {
      width: 100%;
    }
  }
  
@keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
  
    50% {
      border-color: white;
    }
}